@page
@using Work.WebClient.Models
@model Work.WebClient.Pages.IndexModel
@{
    ViewData["Title"] = "WebClient";
}

@{
    foreach (TourViewModel tour in Model.Tours)
    {
        <p>@tour.TourName</p>
    }
}
