@page "{handler?}"
@model Work.WebClient.Pages.Views.Tour.AddTourModel
@{
    <h2>Add tour</h2>

    <form method="post">
        <div>
            <label>Tour name</label><br/>
            <input type="text" name="tourName"/>
        </div>
        <div>
            <label>Tour type</label><br/>
            <input type="text" name="tourType"/>
        </div>
        <div>
            <label>Tour region</label><br/>
            <input type="text" name="tourRegion"/>
        </div>
        <div>
            <label>Tour movement type</label><br/>
            <input type="text" name="tourMovementType"/>
        </div>
        <div>
            <label>Tour date</label><br/>
            <input type="date" name="tourDate"/>
        </div>
        <div>
            <label>Tour duration (in days)</label><br/>
            <input type="number" name="duration"/>
        </div>
        <div>
            <br/><input type="submit" asp-page-handler="AddTour" value="Add" />
        </div>
    </form>
}
